<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 自动扫描action包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.misuosi.mshop.module.admin.*.controller" />
	<context:component-scan base-package="com.misuosi.mshop.module.common.controller" />
	<context:component-scan base-package="com.misuosi.mshop.module.wap.*.controller" />
	<context:component-scan base-package="com.misuosi.mshop.wx.controller" />

	<!-- freemarker的配置 -->
	<bean id="freemarkerConfigurer"
		  class="com.misuosi.mshop.common.web.ShiroTagFreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/views/" />
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
				<!-- 配置自定义的freemarker异常处理-->
                <prop key = "template_exception_handler">com.misuosi.mshop.common.web.FreemarkerExceptionHandler</prop>
			</props>
		</property>
	</bean>

	<!-- FreeMarker视图解析 -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="com.misuosi.mshop.common.web.RichFreeMarkerView" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=utf-8" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀，返回普通的jsp视图 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:prefix="/" p:suffix=".jsp" />
		  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="209715200" /><!-- 上传文件大小限制为200M，200*1024*1024 -->
		<property name="maxInMemorySize" value="4096" />
	</bean>
        
	<mvc:resources mapping="/temp/**" location="/temp/"/>
	<mvc:resources mapping="/assets/**" location="/assets/"/>
	<mvc:resources mapping="/uploads/**" location="/uploads/"/>
	<mvc:resources mapping="/favicon.ico" location="/favicon.ico"/>
	<mvc:resources mapping="/**/*.appcache" location="/"/>

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<!-- ②：启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<!-- 启用默认配置 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 配置Fastjson支持 -->
			<bean class="com.misuosi.mshop.common.web.CustomFastJsonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- Support Shiro Annotation -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!--<prop key="java.lang.Throwable">error</prop>-->
				<prop key="org.apache.shiro.authz.UnauthorizedException">/unauthorized</prop>
			</props>
		</property>
	</bean>

	<aop:config proxy-target-class="true"></aop:config>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>
</beans>